#wrap {
    width: 100%;
}











#header {
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

#header_in {
    width: 1400px;
    height: 100px;
    /* background-color: blue; */
}

#header_in .logo {
    float: left;
    width: 300px;
    height: 100px;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
}

#header_in .menubox {
    float: right;
    width: 800px;
    height: 100px;
    /* background-color: rgb(88, 141, 141); */
}

#header_in .menubox .menu01 {
    width: 100%;
    height: 50px;
    /* background-color: rgb(189, 224, 168); */
    padding: 15px 0 0 249px;
    box-sizing: border-box;
}

#header_in .menubox .menu01 ul {

}

#header_in .menubox .menu01 ul li {
    float: left;
    margin-right: 15px;
}

#header_in .menubox .menu01 ul li a {

}

#header_in .menubox .menu01 input {
    float: left;
    width: 150px;
    height: 20px;
}

#header_in .menubox nav {
    width: 100%;
    height: 50px;
    /* background-color: rgb(92, 109, 81); */
}

#header_in .menubox nav ul {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

#header_in .menubox nav ul li {

}

#header_in .menubox nav ul li a {
    font-size: 20px;
}
















#main {
    width: 100%;
    height: 600px;
    background-color: bisque;
    margin-bottom: 150px;
}






















#coffee {
    width: 100%;
    height: 600px;
    background-color: brown;
}

#coffee .coffee_pic {
    float: left;
    width: 500px;
    height: 300px;
    /* background-color: aqua; */
    margin: 100px 0 0 100px;
}

#coffee .coffee_pic img {
    width: 100%;
}

#coffee .coffee_txt {
    float: right;
    margin: 200px 200px 0 0;
}

#coffee .coffee_txt h3 {
    color: #fff;
    font-size: 40px;
}

#coffee .coffee_txt p {
    color: #fff;
    font-size: 20px;
}






















#news {
    width: 100%;
    height: 595px;
    position: relative;
    background: url(../images/newsimg.png) no-repeat;
    background-size: 100%;
}

#news img {
    /* position: absolute; */
    width: 100%;
}

#news .news_txt {
    float: left;
    margin: 250px 0 0 200px;
}

#news .news_txt h3 {
    color: #000;
    font-size: 30px;
}

#news .news_txt p {
    color: #000;
    font-size: 20px;
}

#news .news_pic {
    margin: 30px 200px 0 0;
    float: right;
    width: 369px;
    height: 537px;
    background: url(../images/newspic.png);
}

























#event {
    width: 100%;
    height: 600px;
    background-color: rgb(105, 69, 69);
}

#event .event_txt {
    float: left;
    margin: 250px 0 0 200px;
}

#event .event_txt h3 {
    color: #000;
    font-size: 30px;
}

#event .event_txt p {
    color: #000;
    font-size: 20px;
}

#event .event_pic {
    margin: 150px 200px 0 0;
    float: right;
    width: 500px;
    height: 537px;
    background: url(../images/eventpic.jpg) no-repeat;
    background-size: 100%;
}




















#store {
    width: 100%;
    height: 596px;
    background: url(../images/storeimg.png) no-repeat 50% 50%;
    background-size: 100%;
}

#store p {
    position: relative;
    text-align: center;
    top: 250px;
    left: 330px;
    font-size: 30px;
    color: #000;
    font-weight: 600;
}





















#notice_sns {
    width: 100%;
    height: 596px;
    background: url(../images/notice_snsimg.png) no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#notice_sns .notice {
    width: 500px;
    height: 400px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#notice_sns .notice .notice_h {
    width: 100%;
    height: 50px;
    background-color: #fff;
    opacity: 0.7;
}

#notice_sns .notice .notice_h h3 {
    font-size: 20px;
    line-height: 50px;
    margin-left: 10px;
}

#notice_sns .notice .notice_b {
    width: 100%;
    height: 330px;
    background-color: #fff;
    opacity: 0.7;
    padding-left: 30px;
    box-sizing: border-box;
}

#notice_sns .notice .notice_b ul {
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

#notice_sns .notice .notice_b li {
    list-style: circle;
}

#notice_sns .sns {
    width: 500px;
    height: 400px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#notice_sns .sns .service {
    width: 100%;
    height: 250px;
    /* background-color: azure; */
    padding: 80px 0 0 20px;
    box-sizing: border-box;
}

#notice_sns .sns .service h3 {
    font-size: 20px;
    color: #fff;
}

#notice_sns .sns .service p {
    font-size: 13px;
    margin-top: 30px;
    color: #fff;
}

#notice_sns .sns .snsbox {
    width: 100%;
    height: 100px;
    /* background-color: brown; */
}

#notice_sns .sns .snsbox img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin-right: 20px;
}




















#footer {
    width: 100%;
    height: 500px;
    /* background-color: aqua; */
}

#footer .footer_menu {
    width: 100%;
    height: 300px;
    background-color: rgb(238, 238, 223);
    display: flex;
    justify-content: center;
    padding-top: 45px;
    box-sizing: border-box;
}

#footer .footer_menu .menu_list {
    width: 1300px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

#footer .footer_menu .menu_list>li {
    float: left;
    font-size: 23px;
}

#footer .footer_menu .sub_list {
    margin-top: 30px;
}

#footer .footer_menu .sub_list>li {
    font-size: 12px;
    margin-top: 10px;
}

#footer .footer_f {
    width: 100%;
    height: 200px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: center;
}

#footer .footer_f_in {
    width: 1300px;
    height: 200px;
    /* background-color: blue; */
}

#footer .footer_f_in .footer_logo {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
}

#footer .footer_f_in_box {
    float: right;
    width: 1100px;
    height: 200px;
    background-color: #000;
    position: relative;
    top: -200px;
    padding: 40px 0 0 20px;
    box-sizing: border-box;
    color: #fff;
}

#footer .footer_f_in_box ul {
    display: flex;
}

#footer .footer_f_in_box li {
    margin-right: 5px;
}

#footer .footer_f_in_box address {
    font-style: normal;
}

#footer .footer_f_in_box p {

}

#footer .footer_f_in_box .rightbox {
    float: right;
    width: 200px;
    height: 100px;
    position: relative;
    top: -100px;
    font-size: 10px;
}